* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
  }
.center {
    width: 60%;
}
body {
    min-height: 1000px;
    background-color:black;
}
#loadingScreen{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content:center;
    
}